{
    #contact email for Let's encrypt
    email quickey@jotalac.dev
}
# Server frontend and backend API under quickey.jotalac.dev

:80 {
    encode gzip

    #proxy /api to backend service
    handle /api/* {
        reverse_proxy backend:5000
    }

    handle /uploads/* {
        reverse_proxy backend:5000
    }


    #handle all other requests to frontend
    handle {
        #set root directory to where the frontend files are
        root * /usr/share/caddy

        #try if the file exists if not let the vue-router handle the paths 
        try_files {path} /index.html
        #serve static files from root directory
        file_server
    }
}