:root{
    --navbar-height: 40px;
    
    /* fonts */
    --small-text: 0.75em;
    --smaller-text: 0.9em;
    --normal-text: 1em;
    --bigger-text: 1.4em;
    --big-title-text: 2em;
      /* COLORS  */
    /* primary */
    /* --primary-0: #fff5ec;
    --primary-100: #c1beff;
    --primary-200: #7ca1c4;
    --primary-400: #6e779c;
    --primary-600: #2e5475;
    --primary-800: #151e27;
    --primary-1000: #040d16; */

    --primary-0: rgb(245, 246, 250);
    --primary-50: #D4DDF7ff;
    --primary-100: #293988ff;
    --primary-200: #15137Aff;
    --primary-400: rgb(25, 32, 97);
    --primary-600: rgb(44, 51, 82);
    --primary-800: rgb(27, 30, 43);
    --primary-1000: rgb(11, 13, 20);

    /* rest */
    --green-vivid: rgb(71, 229, 71);
    --green-bright: rgb(29, 163, 83);
    --green-dark: rgb(79, 98, 79);
    --red-vivid: rgb(219, 57, 45);
    --red-dark: rgb(113, 64, 64);
    --gray-main: rgb(67, 75, 81);
    --gray-dark: rgb(43, 46, 48);
    --gray-very-dark: rgb(23, 23, 26);
    --gray-bright: rgb(196, 196, 196);
    
    --blue-dark: rgb(14, 26, 36);
    --blue-vivid: #6827f2;
    --blue-sky-bright: rgba(80, 163, 205, 0.644);
    --blue-sky-dark: rgba(30, 111, 158, 0.644);
    
    /* shadows */
    --blue-vivid-shadow: #6727f23d;
    --green-vivid-shadow: rgba(29, 163, 83, 0.356);
    --green-vivid-shadow-mild: rgba(29, 163, 83, 0.089);
    --primary-0-shadow: rgba(245, 246, 250, 0.116);

    /* SHAPES */
    --border-rad-main: 10px;
    --border-rad-smaller: 6px;
    --border-rad-bigger: 15px;


}

:root{
  overflow: hidden;
}


@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}