@import './base.css';
@import './scrollbar.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace !important;
    margin: 0;
    padding: 0;
    /* transition: background-color 0.3s ease,
     color 0.3s ease, 
     filter 0.3s ease, 
     scale 0.3s ease,
     box-shadow 0.3s ease-in-out,
     transform 0.3s ease; */

}

#app{
    margin-top: calc(var(--navbar-height) + 10px);
    margin: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}


/* for the background grid */
#app{
    /* Background color if needed */
    background-color: var(--primary-1000);

    /* Two gradients: one for vertical lines and one for horizontal lines */
    background-image:
      linear-gradient(to right, var(--blue-dark) 1px, transparent 1px),
      linear-gradient(to bottom, var(--blue-dark) 1px, transparent 1px);
  
    /* Size of the grid cells (adjust as needed) */
    background-size: 100px 100px;
    overflow: hidden;

    transition: all 0.3s ease-in-out;
}

/* icons styling */
.icon {
    color: var(--primary-0);
    width: 25px;
    height: 25px;
    margin: 5px;
}

/* styles for box shadow effect */
.box-shadow-normal{
    box-shadow: 5px 5px 0 var(--primary-800);
    transition: box-shadow 0.3s ease-in-out;
}
.box-shadow-normal:hover{
    box-shadow: 8px 8px 0 var(--primary-600);
}

/* ==== tutorial ==== */
.driver-popover.tutorial-dark-theme{
  background-color: var(--blue-dark) ;
}

.driver-popover.tutorial-dark-theme .driver-popover-title,
.driver-popover.tutorial-dark-theme .driver-popover-progress-text {
  color: var(--primary-0);
}


.driver-popover.tutorial-dark-theme .driver-popover-description {
    color: var(--gray-bright);
}



/* ------------------------------------------------------------------------------------------ */
/* changing the appereance of all primevue buttons */
.p-button,
.p-inputtext {
    font-family: "Roboto Mono", monospace !important;
    font-weight: 500 !important;

}

.p-button:hover{
    background-color: var(--primary-50) !important;
    color: var(--primary-1000) !important;
}

.p-button.p-button-outlined{
    border-width: 1px !important;
    border-color: currentColor !important;
}


.p-button[disabled]:hover {
    background-color: var(--gray-dark) !important;
    color: var(--gray-main) !important;
    cursor: not-allowed;
    border-color: var(--gray-main) !important;
}

.p-button-warn{
    color: var(--red-vivid) !important;
}

.pi{
    font-family: 'primeicons' !important;
}

/* context menu */
a.p-contextmenu-item-link:hover {
    background-color: var(--primary-50) !important;
    color: var(--primary-1000);
    border-radius: var(--border-rad-smaller);
}

/* dialog */
.p-dialog-title{
    font-size: var(--bigger-text) !important;
}

div.p-dialog-content{
    width: 100%;
    height: 100%;
    display: flex;
}

/* data table */
.p-datatable{
    background-color: transparent;
}

/* error tooltips login form */
.error-tooltip-text {
    /* background: var(--primary-900) !important; */
    color: var(--red-vivid) !important;
    border: 1px solid var(--red-vivid) !important;
    font-size: 0.9em !important;
    white-space: pre-line !important;
    width: 300px;
}

@media (max-width: 500px) {
    #app{
        background-size: 60px 60px;
    }
}